/**

selectores
- etiqueta html (body, section, img...)

- clase (.) (podes reutilizar)
- id (#) (unico)
 */

/*
.encabezado{
    background-color: burlywood;
}

#nosotros{
    background-color: cadetblue;
}*/

/** selector universal */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /** ajusta el indice del elemento para que este encima de los otros elementos (prioridad) */
}

/** alineando los elementos del nav */
nav ul li{
    display: inline-block; /** pone los li en linea (horizontal) */
    list-style: none;
    margin: 10px;
    color: #AB561D;
}

a{
    text-decoration: none;
    color: #AB561D;
}

.encabezado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/image1.jpg);
    height: 600px;
    width: 100%;
    /** adaptamos el tamaño de la imagen al contenedor */
    background-size: cover;
    background-position: bottom;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
    flex-flow: column nowrap;
}

.titulo{
    color: #FFF;
    /** 
        px
        1rem (16px)
     */
    font-size: 4rem;
    /** cambia el grosor de la fuente */
    font-weight: bold;
    letter-spacing: 0.7rem;
    text-transform: uppercase;
    text-align: center;
}

.subtitulo{
    color: #FFF;
    font-size: 2rem;
    letter-spacing: 0.7rem;
    text-align: center;
    font-weight: 400;
}

section{
    /**
        100px (arriba y abajo)
        0 (a los lados)
     */
    padding: 100px 0;
}

.caja{
    width: 80%;
    margin: auto;
}

.nosotros{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-flow: row wrap;
}

.contenido_imagen{
    position: relative;
    flex: 0 0 400px;
}

img{
    width: 100%;
    height: 310px;
    object-fit: cover;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.5);
    transition: all .5s;
}

/** pseudo clases (hover) */
img:hover{
    transform: scale(1.1);
}

.contenido-nosotros{
    flex: 0 0 50%;
}

h4{
    text-transform: uppercase;
    font-size: 1rem;
    color: #444;
    text-align: center;
}

h2{
    margin-bottom: 4rem;
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #222;
    text-align: center;
}

span{
    color: #FF7B00;
}

#parrafo-nosotros{
    line-height: 40px;
    color: #666666;
}

/** apartado de ofertas */
.ofertas{
    position: relative;
    background-image: url(./img/image3.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
}

.btn{
    width: 170px;
    padding: 10px 25px;
    margin-top: 10px;
    font-size: 1rem;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
    border: none;
}

.btn-ofertas{
    background-color: #FF7B00;
    color: white;
}

.btn-ofertas:hover{
    background-color: #a26e3e;
}

/** apartado del menu de hamburguesas */

.menu-hamburguesa{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
}

.tarjeta{
    width: 30%;
    height: 300px;
    margin-bottom: 30px;
    background-size: cover;
    background-position: center;
    text-align: center;
}

/** nth-child */
.tarjeta:nth-child(1){
    background-image: url(./img/product1.jpg);
}

.tarjeta:nth-child(2){
    background-image: url(./img/product2.jpg);
}

.tarjeta:nth-child(3){
    background-image: url(./img/product3.jpg);
}

.tarjeta:nth-child(4){
    background-image: url(./img/product4.jpg);
}

.tarjeta:nth-child(5){
    background-image: url(./img/product5.jpg);
}

.tarjeta:nth-child(6){
    background-image: url(./img/product6.jpg);
}

.tarjeta-contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    opacity: 0;
    transition: all .5s;
}

.tarjeta-contenido:hover{
    opacity: 1;
}

h5{
    font-size: 2rem;
    color: #FF7B00;
    font-weight: 400;
    margin-top: 10px;
}

.btn-tarjeta{
    background-color: #AB561D;
    color: white;
}

/** overlay -> clase css **/
.overlay, .encabezado::before, .ofertas::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.encabezado *, .ofertas *{
    position: relative;
}

.footer-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 20px;
}

/** uso de media query */
/**
    max-width
    min-width
*/

/** pantallas pequenas, medianas */
@media (max-width: 768px){
    .contenido-nosotros{
        order: 1;
        flex: 0 0 100%;
        margin: 50px 0;
    }

    .contenido_imagen{
        order: 0;
        flex: 0 0 100%;
    }
}

/** media query para pantallas pequenas */
@media (max-width: 576px){
    .titulo{
        font-size: 2rem;
        text-align: center;
    }

    .footer-grid{
        grid-template-columns: 1fr;
        gap: 0px;
    }

    .tarjeta{
        width: 100%;
    }
}

/** media para solo pantallas medianas (tablet) */
@media (min-width: 768px) and (max-width: 992px){
    .tarjeta{
        width: 45%;
    }
}